<div class="container-fluid">
        <div class="row">
             <div class="col-md-12">


             <div class="home-carousal ">
                <div class="slide-item owl-lazy slider-bg" data-src="assets/img/slide/slide.jpg">
                   <div class="container">
                        <div class="carousal-text">
                            <p class="caption">{{'Discover Your Next'|translate}}</p>
                            <h1>Destination</h1>
                        </div>
                    </div>
                </div>
                <div class="slide-item owl-lazy slider-bg" data-src="assets/img/slide/slide1.jpg"></div>
                <div class="slide-item owl-lazy slider-bg" data-src="assets/img/slide/slide2.jpg"></div>
                <div class="slide-item owl-lazy slider-bg" data-src="assets/img/slide/slide3.jpg"></div>
            </div> 

    
     </div>
    <div class="container visible-xs-block mobile-search">
        <div class="row">
            <div class=" form-group col-lg-4">
                <form>
                    <div class="form-group has-feedback ">
                        <input type="text" class="form-control " id="m_search_place " placeholder="Search " data-toggle="modal" data-target="#search-modal">
                        <span class="form-control-feedback"><i class="fa fa-search" aria-hidden="true"></i></span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
    </div>    


    <app-flightsearch></app-flightsearch>
       <div class="winter-offers">
        <div class="container">
            <div class="row">
                <h1>Winter Offers</h1>
            </div>
            <div class="row">
                <div class="col-md-6 module-main">
                    <img src="./assets/img/thailand.jpg" alt="">
                    <div class="offer-text">
                        <h3> Ethiopia</h3>
                        <h4>5 days from <span> AED 1,300</span></h4>                
                    </div>
                </div>
                <div class="col-md-6 module-child">
                <div class="row">
                    <div class="col-md-6 col-xs-6">
                        <img src="./assets/img/thailand.jpg" alt="">
                        <div class="offer-text">
                            <h3> Nepal</h3>
                            <h4>5 days from <span> AED 1,300</span></h4>
                        </div>
                        
                    </div>
                    <div class="col-md-6 col-xs-6">
                        <img src="./assets/img/thailand.jpg" alt="">
                        <div class="offer-text">
                            <h3> Ahmedabad</h3>
                            <h4>5 days from <span> AED 1,300</span></h4>    
                        </div>
                        
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-xs-6">
                        <img src="./assets/img/thailand.jpg" alt="">
                        <div class="offer-text">
                            <h3> Astana</h3>
                            <h4>5 days from <span> AED 1,300</span></h4>    
                        </div>
                        
                    </div>
                    <div class="col-md-6 col-xs-6">
                        <img src="./assets/img/thailand.jpg" alt="">
                        <div class="offer-text">
                            <h3> Aqaba</h3>
                            <h4>5 days from <span> AED 1,300</span></h4>
                        </div>
                        
                    </div>
                </div>
                </div>
                
            </div>
            <div class="winter-offer-action"><button class="fz-btn">View All Offers</button></div>
            
        </div>    </div>
    <br><br>
    <div class="cont-explore">
       <div class="container">
         <h1>
            <p>
                Explore the world from<input type="text" placeholder="Dubai(DXB)">
            </p>
        </h1>
       </div>
        <div class="container"> 
            <ul>
                <li class="selected pull-left"><img src="assets/img/icon-a.png">Popular</li>
                <li class="pull-left"><img src="assets/img/icon-a.png">Nightlife</li>
                <li class="pull-left"><img src="assets/img/icon-a.png">something</li>
    
            </ul>
            <div class="card-row" id="c-explore">
                <article class="pull-left">
                    <div class="c-explore-image">
                        <img src="./assets/img/img-a.png">
                    </div>
                    <div class="c-explore-content">
                        <h2>Thailand Getaways</h2>
                        <div class="c-explore-tags">
                            <label>Beach</label><label>Nightlife</label>
                        </div>
                        <div class="c-explore-cost">
                            <div class="pull-left">
                                <p>From<span>AED2,300</span></p>
                                <label>per person</label>
                            </div>                                           
                            <p class="pull-right">(8 Nights + Flight)</p>
                        </div>
                    </div>
                </article>
                <article class="pull-left">
                    <div class="c-explore-image">
                        <img src="./assets/img/img-a.png">
                    </div>
                    <div class="c-explore-content">
                        <h2>Thailand Getaways</h2>
                        <div class="c-explore-tags">
                            <label>Beach</label><label>Nightlife</label>
                        </div>
                        <div class="c-explore-cost">
                            <div class="pull-left">
                                <p>From<span>AED2,300</span></p>
                                <label>per person</label>
                            </div>                                           
                            <p class="pull-right">(8 Nights + Flight)</p>
                        </div>
                    </div>
                </article>
            </div>
    
        </div>
    </div>     <div class="container">
        <div class="row">
            <!-- <div class="col-md-12"> -->
            <div class="offer-carousal owl-theme">
                <div class="slide-item owl-lazy slider-bg" data-src="assets/img/slide/slide.jpg">
                    <div class="col-md-12 slide-content">
                       <div class="carousal-text">
                        <p class="caption"> 30% Off on</p>
                        <h1>Business Class</h1>                      
    
                        <div class="offer-detail">
                            <p>Experience the business class with 30% discount to all flights to
                                Maldives</p>
                                
                            </div>
                            <button type="button" class="fz-btn fz-btn-filled">Know more</button>
                        </div>
                    </div>
                </div>
                <div class="slide-item owl-lazy slider-bg" data-src="assets/img/slide/slide1.jpg"></div>
                <div class="slide-item owl-lazy slider-bg" data-src="assets/img/slide/slide2.jpg"></div>
                <div class="slide-item owl-lazy slider-bg" data-src="assets/img/slide/slide3.jpg"></div>
            </div>
    
    
            <!-- </div> -->
        </div>
    </div>                        <div class="cont-rec-stays">
                            <div class="container">
                                <h1>Recommended Stays</h1>
                                <div class="card-row" id="recommended_stays">
                                    <article class="pull-left">
                                        <div class="c-rstays-image">
                                            <img src="assets/img/ca-2.png">
                                            <p><em><img src="assets/img/location.png"></em>Dubai, United Arab Emirates</p>
                                            <div class="shadow"></div>
                                        </div>
                                        <div class="c-rstays-content">
                                            <div class="sec-a">
                                                <div class="pull-left">
                                                    <h2>Palazz0-Versace</h2>
                                                    <label>Executive Deluxe Room</label>
                                                </div>
                                                <div class="pull-right">
                                                    <div class="ta-rating">
                                                     <em class="pull-right"><img class="pull-right" src="assets/img/tripadvisor-logo.png"></em>
                                                     <span class="pull-right">
                                                         <img class="pull-right" src="assets/img/tripadvisor-rating.png">
                                                         <img class="pull-right" src="assets/img/tripadvisor-rating.png">
                                                         <img class="pull-right" src="assets/img/tripadvisor-rating.png">
                                                         <img class="pull-right" src="assets/img/tripadvisor-rating.png">
                                                         <img class="pull-right" src="assets/img/tripadvisor-rating.png">
                                                     </span>
                                                 </div>
                                                 <span class="pull-right">315 Reviews</span>
                                             </div>
                                         </div>
                                         <div class="sec-b">
                                            <div class="pull-left">
                                                <p>AED 2,300</p>
                                                <label>per person</label>
                                            </div>
                                            <div class="pull-right">
                                                <span>8 Nights + Flight</span>
                                            </div>
                                        </div>
                                        <div class="sec-c">
                                            <a href="#">view 4 more room types available</a>
                                        </div>                                       
                                    </div>
                                </article>
                                <article class="pull-left">
                                    <div class="c-rstays-image">
                                        <img src="assets/img/ca-2.png">
                                        <p><em><img src="assets/img/location.png"></em>Dubai, United Arab Emirates</p>
                                        <div class="shadow"></div>
                                    </div>
                                    <div class="c-rstays-content">
                                        <div class="sec-a">
                                            <div class="pull-left">
                                                <h2>Palazz0-Versace</h2>
                                                <label>Executive Deluxe Room</label>
                                            </div>
                                            <div class="pull-right">
                                               <div class="ta-rating">
                                                     <em class="pull-right"><img class="pull-right" src="assets/img/tripadvisor-logo.png"></em>
                                                     <span class="pull-right">
                                                         <img class="pull-right" src="assets/img/tripadvisor-rating.png">
                                                         <img class="pull-right" src="assets/img/tripadvisor-rating.png">
                                                         <img class="pull-right" src="assets/img/tripadvisor-rating.png">
                                                         <img class="pull-right" src="assets/img/tripadvisor-rating.png">
                                                         <img class="pull-right" src="assets/img/tripadvisor-rating.png">
                                                     </span>
                                                 </div>
                                                <span class="pull-right">315 Reviews</span>
                                            </div>
                                        </div>
                                        <div class="sec-b">
                                            <div class="pull-left">
                                                <p>AED 2,300</p>
                                                <label>per person</label>
                                            </div>
                                            <div class="pull-right">
                                                <span>8 Nights + Flight</span>
                                            </div>
                                        </div>
                                        <div class="sec-c">
                                            <a href="#">view 4 more room types available</a>
                                        </div>                                       
                                    </div>
                                </article>
                                <article class="pull-left">
                                    <div class="c-rstays-image">
                                        <img src="assets/img/ca-2.png">
                                        <p><em><img src="assets/img/location.png"></em>Dubai, United Arab Emirates</p>
                                        <div class="shadow"></div>
                                    </div>
                                    <div class="c-rstays-content">
                                        <div class="sec-a">
                                            <div class="pull-left">
                                                <h2>Palazz0-Versace</h2>
                                                <label>Executive Deluxe Room</label>
                                            </div>
                                            <div class="pull-right">
                                               <div class="ta-rating">
                                                     <em class="pull-right"><img class="pull-right" src="assets/img/tripadvisor-logo.png"></em>
                                                     <span class="pull-right">
                                                         <img class="pull-right" src="assets/img/tripadvisor-rating.png">
                                                         <img class="pull-right" src="assets/img/tripadvisor-rating.png">
                                                         <img class="pull-right" src="assets/img/tripadvisor-rating.png">
                                                         <img class="pull-right" src="assets/img/tripadvisor-rating.png">
                                                         <img class="pull-right" src="assets/img/tripadvisor-rating.png">
                                                     </span>
                                                 </div>
                                                <span class="pull-right">315 Reviews</span>
                                            </div>
                                        </div>
                                        <div class="sec-b">
                                            <div class="pull-left">
                                                <p>AED 2,300</p>
                                                <label>per person</label>
                                            </div>
                                            <div class="pull-right">
                                                <span>8 Nights + Flight</span>
                                            </div>
                                        </div>
                                        <div class="sec-c">
                                            <a href="#">view 4 more room types available</a>
                                        </div>                                       
                                    </div>
                                </article>
                                <article class="pull-left">
                                    <div class="c-rstays-image">
                                        <img src="assets/img/ca-2.png">
                                        <p><em><img src="assets/img/location.png"></em>Dubai, United Arab Emirates</p>
                                        <div class="shadow"></div>
                                    </div>
                                    <div class="c-rstays-content">
                                        <div class="sec-a">
                                            <div class="pull-left">
                                                <h2>Palazz0-Versace</h2>
                                                <label>Executive Deluxe Room</label>
                                            </div>
                                            <div class="pull-right">
                                                <div class="ta-rating">
                                                     <em class="pull-right"><img class="pull-right" src="assets/img/tripadvisor-logo.png"></em>
                                                     <span class="pull-right">
                                                         <img class="pull-right" src="assets/img/tripadvisor-rating.png">
                                                         <img class="pull-right" src="assets/img/tripadvisor-rating.png">
                                                         <img class="pull-right" src="assets/img/tripadvisor-rating.png">
                                                         <img class="pull-right" src="assets/img/tripadvisor-rating.png">
                                                         <img class="pull-right" src="assets/img/tripadvisor-rating.png">
                                                     </span>
                                                 </div>
                                                <span class="pull-right">315 Reviews</span>
                                            </div>
                                        </div>
                                        <div class="sec-b">
                                            <div class="pull-left">
                                                <p>AED 2,300</p>
                                                <label>per person</label>
                                            </div>
                                            <div class="pull-right">
                                                <span>8 Nights + Flight</span>
                                            </div>
                                        </div>
                                        <div class="sec-c">
                                            <a href="#">view 4 more room types available</a>
                                        </div>                                       
                                    </div>
                                </article>
                                <article class="pull-left">
                                    <div class="c-rstays-image">
                                        <img src="assets/img/ca-2.png">
                                        <p><em><img src="assets/img/location.png"></em>Dubai, United Arab Emirates</p>
                                        <div class="shadow"></div>
                                    </div>
                                    <div class="c-rstays-content">
                                        <div class="sec-a">
                                            <div class="pull-left">
                                                <h2>Palazz0-Versace</h2>
                                                <label>Executive Deluxe Room</label>
                                            </div>
                                            <div class="pull-right">
                                               <div class="ta-rating">
                                                     <em class="pull-right"><img class="pull-right" src="assets/img/tripadvisor-logo.png"></em>
                                                     <span class="pull-right">
                                                         <img class="pull-right" src="assets/img/tripadvisor-rating.png">
                                                         <img class="pull-right" src="assets/img/tripadvisor-rating.png">
                                                         <img class="pull-right" src="assets/img/tripadvisor-rating.png">
                                                         <img class="pull-right" src="assets/img/tripadvisor-rating.png">
                                                         <img class="pull-right" src="assets/img/tripadvisor-rating.png">
                                                     </span>
                                                 </div>
                                                <span class="pull-right">315 Reviews</span>
                                            </div>
                                        </div>
                                        <div class="sec-b">
                                            <div class="pull-left">
                                                <p>AED 2,300</p>
                                                <label>per person</label>
                                            </div>
                                            <div class="pull-right">
                                                <span>8 Nights + Flight</span>
                                            </div>
                                        </div>
                                        <div class="sec-c">
                                            <a href="#">view 4 more room types available</a>
                                        </div>                                       
                                    </div>
                                </article>
    
                            </div>
    
                        </div>
                    </div>    <div class="cont-excursions">
        <div class="container">
            <h1>Excursions</h1>
            <div class="card-row" id="fz-excursions">
                <article class="pull-left">
                    <div class="c-excursions-image">
                        <img src="./assets/img/img-b.png">
                        <h2>Dubai City Tour</h2>        
                    </div>
                    <div class="c-excursions-content">
                        <p>From<label>AED 60.00</label> </p>
                        <span>Person</span>
                    </div>
                </article>    
                <article class="pull-left">
                    <div class="c-excursions-image">
                        <img src="./assets/img/img-b.png">
                        <h2>Dubai City Tour</h2>        
                    </div>
                    <div class="c-excursions-content">
                        <p>From<label>AED 60.00</label> </p>
                        <span>Person</span>
                    </div>
                </article>                      
            </div>
    
        </div>
    </div>    <br>
    
    <!--Upcoming Trips, Incredible Dubai and Footer-->
    <section class="upcoming-trip container">
        <h1 class="text-center">Your Upcoming Trip</h1>
        <!-- Wrapper for slides -->
        <div class="trip-carousel owl-theme">
                <div class="trip-img pull-right slide-item owl-lazy" data-src="assets/img/maldives.png">
                <div class="trip-details pull-left">
                    <div class="trip-box">
                        <div class="trip">Trip to Maldives</div>
                        <div class="trip-dates">(12 Jan - 22 Jan)</div>
                        <div class="flight">
                            <div class="depart">
                                <i class="fa fa-plane" aria-hidden="true"></i>
                                <div>
                                    <div class="depart-on">Depart On</div>
                                    <div class="time">18 20</div>
                                    <div class="day">Sat, 12 Jan</div>
                                </div>
                            </div>
                            <div class="destination">
                                <div class="flight-code">FZ 640</div>
                                <div class="flight-route">DXB > MLE</div>
                                <div class="airport">Dubai International Airport <br/>(Terminal 1)</div>
                            </div>
                        </div>
                        <div class="hotel">
                            <div class="depart">
                                <i class="fa fa-bed" aria-hidden="true"></i>
                                <div>
                                    <div class="days">10 <span>Days</span></div>
                                    <div class="dates">12 Jan - 22 Jan</div>
                                </div>
                            </div>
                            <div class="destination">
                                <div class="hotel-name">Season Paradise</div>
                                <div class="hotel-place">Thulusdhoo, Maldives</div>
                            </div>
                        </div>
                    </div>
                    <div class="excursions-services">Add excursions &amp; Services <span>&nbsp;8 available&nbsp;</span> <img src="assets/img/arrow-black.png" alt="Excursions and services"></div>
                    <div class="more-details text-center">More Details</div>
                </div>
                </div>
                <div class="trip-img pull-right slide-item owl-lazy"  data-src="assets/img/maldives.png">
                <div class="trip-details pull-left">
                    <div class="trip-box">
                        <div class="trip">Trip to Thailand</div>
                        <div class="trip-dates">(12 Jan - 22 Jan)</div>
                        <div class="flight">
                            <div class="depart">
                                <img src="assets/img/flight-icon.png" alt="flight">
                                <div>
                                    <div class="depart-on">Depart On</div>
                                    <div class="time">18 20</div>
                                    <div class="day">Sat, 12 Jan</div>
                                </div>
                            </div>
                            <div class="destination">
                                <div class="flight-code">FZ 640</div>
                                <div class="flight-route">DXB > MLE</div>
                                <div class="airport">Dubai International Airport <br/>(Terminal 1)</div>
                            </div>
                        </div>
                        <div class="hotel">
                            <div class="depart">
                                <img src="assets/img/hotel-icon.png" alt="hotel">
                                <div>
                                    <div class="days">10 <span>Days</span></div>
                                    <div class="dates">12 Jan - 22 Jan</div>
                                </div>
                            </div>
                            <div class="destination">
                                <div class="hotel-name">Season Paradise</div>
                                <div class="hotel-place">Thulusdhoo, Maldives</div>
                            </div>
                        </div>
                    </div>
                    <div class="excursions-services">Add excursions &amp; Services <span>&nbsp;8 available&nbsp;</span> <img src="assets/img/arrow-black.png" alt="Excursions and services"></div>
                    <div class="more-details text-center">More Details</div>
                </div>
                </div>
                <div class="trip-img pull-right slide-item owl-lazy"  data-src="assets/img/maldives.png">
                    <div class="trip-details pull-left">
                        <div class="trip-box">
                            <div class="trip">Trip to Poland</div>
                            <div class="trip-dates">(12 Jan - 22 Jan)</div>
                            <div class="flight">
                                <div class="depart">
                                    <img src="assets/img/flight-icon.png" alt="flight">
                                    <div>
                                        <div class="depart-on">Depart On</div>
                                        <div class="time">18 20</div>
                                        <div class="day">Sat, 12 Jan</div>
                                    </div>
                                </div>
                                <div class="destination">
                                    <div class="flight-code">FZ 640</div>
                                    <div class="flight-route">DXB > MLE</div>
                                    <div class="airport">Dubai International Airport <br/>(Terminal 1)</div>
                                </div>
                            </div>
                            <div class="hotel">
                                <div class="depart">
                                    <img src="assets/img/hotel-icon.png" alt="hotel">
                                    <div>
                                        <div class="days">10 <span>Days</span></div>
                                        <div class="dates">12 Jan - 22 Jan</div>
                                    </div>
                                </div>
                                <div class="destination">
                                    <div class="hotel-name">Season Paradise</div>
                                    <div class="hotel-place">Thulusdhoo, Maldives</div>
                                </div>
                            </div>
                        </div>
                        <div class="excursions-services">Add excursions &amp; Services <span>&nbsp;8 available&nbsp;</span> <img src="assets/img/arrow-black.png" alt="Excursions and services"></div>
                        <div class="more-details text-center">More Details</div>
                    </div>
                </div>
        </div>                      
    </section>    <div class="incredible-bg">
        <div class="incredible-content container">
            <h1>Incredible Dubai</h1>
            <p>
                "Dubai is like nowhere else on the planet. Often claimed to be the world's fastest-growing city. over the past four decades it has metamorphosed from a small Gulf..."
                <strong>Anjum Bada, journalist</strong>
            </p>
            <div><a href="">Discover More</a></div>
        </div>
    </div>    