
<form [formGroup]="ngForm">
{{item | json}}




<div class="container hidden-xs">
        <div class="row">
            <div class="search-container" style="margin-top: -2px;">
                <div class="search-from">
                    <label for="DepartureAirportCode">{{"Flying from" | translate}}</label>
                     <input type="text" id="DepartureAirportCode"  class="form-control" formControlName="DepartureAirportCode" required  [(ngModel)]="item.DepartureAirportCode"   
                        placeholder="{{'Departure Airport'| translate}}" 
                        [typeahead]="cities" 
                    typeaheadOptionField="Value" 
                    typeaheadOptionsLimit="7" typeaheadMinLength="2" 
                    (ngModelChange)="rePopulateCities('DepartureAirportCode')"> 

                </div>
                <div class="search-to">
                    <label for="ArrivalAirportCode">{{"Flying to" | translate}}</label>
                     <input type="text" id="ArrivalAirportCode"  class="form-control" formControlName="ArrivalAirportCode" required  [(ngModel)]="item.ArrivalAirportCode"   
                        placeholder="{{'Arrival Airport'| translate}}" 
                        [typeahead]="cities" 
                    typeaheadOptionField="Value" 
                    typeaheadOptionsLimit="7" typeaheadMinLength="2" 
                    (ngModelChange)="rePopulateCities('ArrivalAirportCode')"> 
                </div>
                <div class="search-calendar">
                    <label for="">{{'For'|translate}}</label>
                    <p id="vacationDaysCount">12 days<i class="fa fa-calendar" aria-hidden="true"></i></p>
                    <span id="vacationDates">( 24/12/2016 - 4/1/2017 )</span>
                </div>
                <div class="search-guests">
                    <label for="">{{'Guests'|translate}}</label>
                    <p class="guestList">2 Adult, 1 Child<i class="fa fa-angle-down" aria-hidden="true"></i></p>
                    <span class="roomsCount">1 Room</span>
                    <!-- Room Pod -->
                    <div class="set-rooms">
                        <div class="room-pod">
                            <button type="button" class="close">X</button>
                            <div class="pod-row" data-roomno="1">
                                <p for="">Room 1 <button type="button" class="del"></button></p>
                                <div>
                                    <div class="switch">
                                        <a class="minus" href="javascript:void(0)" data-type="adult">-</a>
                                        <span data-val="1" class="adult">1 Adult</span>
                                        <a class="plus" href="javascript:void(0)" data-type="adult">+</a>
                                    </div>
                                    <div class="switch">
                                        <a class="minus" href="javascript:void(0)" data-type="child">-</a>
                                        <span data-val="0" class="child">0 Child</span>
                                        <a class="plus" href="javascript:void(0)" data-type="child">+</a>
                                    </div>
                                    <div class="age-wrap"></div>
                                </div>
                            </div>
                            <div class="add-room">
                                <button type="button" class="add btn">Add Room</button>
                                <button type="button" class="done btn">Done</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="search-class">
                    <label for="">{{'Flight class'|translate}}</label>
                    <div class="search-class-cont">
                        <p>Economy <i class="fa fa-angle-down" aria-hidden="true"></i></p>
                        <button class="btn fz-btn" (click)="doSubmit()">Search</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- for small devices -->
    <div class="search-modal-container">
        <div class="modal fade" role="dialog" aria-hidden="false" id="search-modal" tabindex="-1">
            <div class="modal-table">
                <div class="modal-cell">
                    <div class="modal-content">
                        <div class="panel-header modal-header needsclick">
                            <a href="#" class="modal-close" data-behavior="modal-close" data-dismiss="modal" aria-label="Close">
                                <span class="screen-reader-only">Close</span>
                                <span class="aria-hidden">×</span>
                            </a>
                        </div>
                        <div class="panel-body">
                            <div class="modal-search-wrapper--sm">
                                <form action="/s" id="search-form">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <label for="from-loacation">
                                                {{'Flying from' | translate}}
                                            </label>
                                            <h2 id="from_city">DXB</h2>
                                            <input type="text" id="from-loacation" placeholder="Dubai International Airport" name="from-location" id="from-loacation--label" autofocus>
    
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <label for="to-location">
                                                {{'Flying to'|translate}}
                                            </label>
                                            <h2 id="from_city">MLE</h2>
                                            <input type="text" placeholder="Male International airport" autocomplete="off" name="to-location" id="to-location">
    
                                        </div>
                                    </div>
                                    <div class="row row space-top-3">
                                        <div class="col-xs-12">
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <label for="checkin-" class="checkin">
                                                        For
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-6">
                                                    <input id="checkin" type="text" name="checkin" class="checkin input-large" placeholder="Check in" readonly="true">
                                                </div>
                                                <div class="col-xs-6">
                                                    <input type="text" id="checkout" name="checkout" class="checkout input-large" placeholder="Check out" readonly="true">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <label for="search-guests">
                                                Guests
                                            </label>
                                            <div id="guest-picker">
                                                <h4 class="roomsCount">1 Room</h4>
                                                <div class="search-guests">
                                                    <button class="btn GuestPicker" type="button">
                                                    <div class="guest-label">
                                                        <span class="">
                                                            <span class="guestList">2 Adults, 2 Children</span>
                                                        </span>
                                                    </div>
                                                    </button>
                                                    <div class="set-rooms">
                                                        <div class="room-pod">
                                                            <button type="button" class="close">X</button>
                                                            <div class="pod-row" data-roomno="1">
                                                                <p for="">Room 1 <button type="button" class="del"></button></p>
                                                                <div>
                                                                    <div class="switch">
                                                                        <a class="minus" href="javascript:void(0)" data-type="adult">-</a>
                                                                        <span data-val="1" class="adult">1 Adult</span>
                                                                        <a class="plus" href="javascript:void(0)" data-type="adult">+</a>
                                                                    </div>
                                                                    <div class="switch">
                                                                        <a class="minus" href="javascript:void(0)" data-type="child">-</a>
                                                                        <span data-val="0" class="child">0 Child</span>
                                                                        <a class="plus" href="javascript:void(0)" data-type="child">+</a>
                                                                    </div>
                                                                    <div class="age-wrap"></div>
                                                                </div>
                                                            </div>
                                                            <div class="add-room">
                                                                <button type="button" class="add btn">Add Room</button>
                                                                <button type="button" class="done btn">Done</button>
                                                            </div>
                                                        </div>
                                                    </div>
    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <button type="submit" class="btn btn-primary btn-large btn-block mobile-search-btn" data-behavior="modal-close" data-dismiss="modal" aria-label="Close">
                                            Search
                                            </button>
                                        </div>
                                    </div>
    
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</form>    







{{items | json}}

<div class="" *ngIf="items">
<div class="lc-content">
                    <div class="lcc-selected">
                        <h1>Selected Flight<span class="changeFlights pull-right">Change Flights</span></h1>
                        <div class="flight-info flight-onward">
                           <div class="flight-basics pull-left">
                              <i class="fa fa-plane pull-left" aria-hidden="true"></i>
                              <div class="fi-block">
                                 <h2>FX 601</h2>
                                 <p>Economy</p>
                                 <span>12 Jan 2017</span>
                              </div>
                           </div>
                           <div class="flight-time pull-left">
                              <h2>16:30</h2>
                              <h3>DXB</h3>
                           </div>
                           <div class="flight-chart pull-left width-large">
                              <label>14 hours</label>
                              <div class="stop-line">
                                 <div class="stop-start"></div>
                                 <div class="stop-mid"></div>
                                 <div class="stop-end"></div>
                              </div>
                              <label>Direct</label>
                           </div>
                           <div class="flight-time pull-left">
                              <h2>16:30</h2>
                              <h3>DXB</h3>
                           </div>
                           <div class="flight-action pull-right">
                              <button class="fz-btn pull-right"  data-toggle="modal" data-target="#modifyFlight">Modify</button>
                           </div>
                        </div>
                        <div class="flight-info flight-return">
                           <div class="flight-basics pull-left">
                              <i class="fa fa-plane fa-flip-horizontal pull-left" aria-hidden="true"></i>
                              <div class="fi-block">
                                 <h2>FX 601</h2>
                                 <p>Economy</p>
                                 <span>12 Jan 2017</span>
                              </div>
                           </div>
                           <div class="flight-time pull-left">
                              <h2>16:30</h2>
                              <h3>DXB</h3>
                           </div>
                           <div class="flight-chart pull-left width-large">
                              <label>14 hours</label>
                              <div class="stop-line">
                                 <div class="stop-start"></div>
                                 <div class="stop-end"></div>
                              </div>
                              <label>Direct</label>
                           </div>
                           <div class="flight-time pull-left">
                              <h2>16:30</h2>
                              <h3>DXB</h3>
                           </div>
                           <div class="flight-action pull-right">
                              <button class="fz-btn pull-right" data-toggle="modal" data-target=".bs-example-modal-lg">Modify</button>
                           </div>
                        </div><div class="fi-expanded" style="display: none;">
                           <div class="custom-tab-a">
                              <!-- Nav tabs -->
                              <ul class="nav nav-tabs" role="tablist">
                                 <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Itinerary</a></li>
                                 <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Flight Details</a></li>
                              </ul>
                              <!-- Tab panes -->
                              <div class="tab-content">
                                 <div role="tabpanel" class="tab-pane active" id="home">
                                    <div class="it-partial clearfix">
                                       <div class="it-logo pull-left">
                                          <img src="img/logo-small.png">
                                       </div>
                                       <div class="it-number pull-left">
                                          <h1>FZ 531</h1>
                                          <h3>10:30</h3>
                                       </div>
                                       <div class="it-city pull-left">
                                          <h2>MLE</h2>
                                          <p>Male International Airport</p>
                                       </div>
                                       <div class="it-chart pull-left">
                                          <label>4 hours</label>
                                          <div class="stop-line">
                                             <div class="stop-start"></div>
                                             <div class="stop-end"></div>
                                          </div>
                                       </div>
                                       <div class="it-city pull-left">
                                          <h2>MLE</h2>
                                          <p>Male International Airport</p>
                                       </div>
                                    </div>
                                    <div class="it-partial-divider">
                                       <div class="stop-line">
                                          <label>2 hours Layover</label>
                                          <div class="stop-mid"></div>
                                       </div>
                                    </div>
                                    <div class="it-partial clearfix">
                                       <div class="it-logo pull-left">
                                          <img src="img/logo-small.png">
                                       </div>
                                       <div class="it-number pull-left">
                                          <h1>FZ 531</h1>
                                          <h3>10:30</h3>
                                       </div>
                                       <div class="it-city pull-left">
                                          <h2>MLE</h2>
                                          <p>Male International Airport</p>
                                       </div>
                                       <div class="it-chart pull-left">
                                          <label>4 hours</label>
                                          <div class="stop-line">
                                             <div class="stop-start"></div>
                                             <div class="stop-end"></div>
                                          </div>
                                       </div>
                                       <div class="it-city pull-left">
                                          <h2>MLE</h2>
                                          <p>Male International Airport</p>
                                       </div>
                                    </div>
                                 </div>
                                 <div role="tabpanel" class="tab-pane" id="profile" >
                                    <div class="fd-partial">
                                       <div class="fd-logo pull-left">
                                          <img src="img/logo-small.png">
                                       </div>
                                       <div class="fd-class pull-left">
                                          <img src="img/chair.png">
                                          <h1>Economy</h1>
                                          <label>Boeing 233-211</label>
                                       </div>
                                       <div class="fd-details pull-left">
                                          <ul class="fdd-details">
                                             <li class="fdd-checkin">
                                                <label><i class="fa fa-suitcase " aria-hidden="true"></i><span>30 Kg Checkin Baggage</span></label>
                                             </li>
                                             <li class="fdd-cabin">
                                                <label><i class="fa fa-shopping-bag " aria-hidden="true"></i><span>10 Kg Cabin Baggage</span></label>
                                             </li>
                                             <li class="fdd-seat">
                                                <label><i><img src="img/seat-select.png"></i><span>Flexible Seat Select</span></label>
                                             </li>
                                          </ul>
                                       </div>
                                       <div class="fd-points pull-left">
                                          <ul>
                                             <li class="fdd-reward">
                                                <i class="fa fa-gift pull-left" aria-hidden="true"></i>
                                                <div>
                                                   <h2>1231</h2>
                                                   <label>Reward Points</label>
                                                </div>
                                             </li>
                                             <li class="fdd-bonus">
                                                <i class="fa fa-ticket pull-left" aria-hidden="true"></i>
                                                <div>
                                                   <h2>1231</h2>
                                                   <label>Bonus Points</label>
                                                </div>
                                             </li>
                                             <li class="fdd-tier">
                                                <i class="fa fa-diamond pull-left" aria-hidden="true"></i>
                                                <div>
                                                   <h2>1231</h2>
                                                   <label>Tier Points</label>
                                                </div>
                                             </li>
                                          </ul>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
</div>