<main id="home-page">
<div class="header" *ngIf="currentLang=='ar'">

                        <nav class="navbar navbar-default navbar-custom container">
                            <div class="">
                                <div class="navbar-header ">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar1" aria-expanded="false" aria-controls="navbar">
                                      <span class="sr-only">Toggle navigation</span>
                                      <span class="icon-bar"></span>
                                      <span class="icon-bar"></span>
                                      <span class="icon-bar"></span>
                                  </button>
                                  <a class="navbar-brand" href="#">
                                    <img alt="Brand" src="assets/img/logo.png" class="img-responsive fz-logo img-right">
                                </a>
                            </div>
    
                            <div class="collapse navbar-collapse" id="navbar">
                                <ul class="nav navbar-nav">
                                     <li class="nav-item " routerLinkActive="active" *ngFor="let item of 'TopMenuItems'|translate ">
                                        <a  class="nav-link" routerLink="{{item.Link}}" title="{{item.Tooltip}}">
                                            <i *ngIf="item?.Icon" class="{{item?.Icon}}" ></i>  {{item.Title}}
                                        </a>
                                    </li>
                                    <li class="divider"><span></span></li>                  
                                    <li>
                                            <select style="margin-top: 10px;" [(ngModel)]="currentLang" class="form-control" id="currentLang" (change)="onLangChange()" name="currentLang" >
                                            <option *ngFor="let item of langList" [value]="item.lang">{{item.title}}</option>
                                            </select>
                                    </li>
                                    <li>




                                        <ul class="dropdown-menu">
                                            <li><a href="#">Action</a></li>
                                            <li><a href="#">Another action</a></li>
                                            <li><a href="#">Something else here</a></li>
                                            <li role="separator" class="divider"></li>
                                            <li><a href="#">Separated link</a></li>
                                        </ul>
                                    </li>
                                    <li class="h-user"><a href="#">John<img alt="user-image" class="pull-right" src="assets/img/user-img.png"></a></li>
                                </ul>
                            </div>
                        </div>
                    </nav>



</div>
                  <div class="header" *ngIf="currentLang!='ar'">
                        <nav class="navbar navbar-default navbar-custom container">
                            <div class="">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar1" aria-expanded="false" aria-controls="navbar">
                                      <span class="sr-only">Toggle navigation</span>
                                      <span class="icon-bar"></span>
                                      <span class="icon-bar"></span>
                                      <span class="icon-bar"></span>
                                  </button>
                                  <a class="navbar-brand" href="#">
                                    <img alt="Brand" src="assets/img/logo.png" class="img-responsive fz-logo">
                                </a>
                            </div>
    
                            <div class="collapse navbar-collapse" id="navbar">
                                <ul class="nav navbar-nav navbar-right">
                                     <li class="nav-item " routerLinkActive="active" *ngFor="let item of 'TopMenuItems'|translate ">
                                        <a  class="nav-link" routerLink="{{item.Link}}" title="{{item.Tooltip}}">
                                            <i *ngIf="item?.Icon" class="{{item?.Icon}}" ></i>  {{item.Title}}
                                        </a>
                                    </li>
                                    <li class="divider"><span></span></li>                  
                                    <li>
                                            <select style="margin-top: 10px;" [(ngModel)]="currentLang" class="form-control" id="currentLang" (change)="onLangChange()" name="currentLang" >
                                            <option *ngFor="let item of langList" [value]="item.lang">{{item.title}}</option>
                                            </select>
                                    </li>
                                    <li>




                                        <ul class="dropdown-menu">
                                            <li><a href="#">Action</a></li>
                                            <li><a href="#">Another action</a></li>
                                            <li><a href="#">Something else here</a></li>
                                            <li role="separator" class="divider"></li>
                                            <li><a href="#">Separated link</a></li>
                                        </ul>
                                    </li>
                                    <li class="h-user"><a href="#">John<img alt="user-image" class="pull-right" src="assets/img/user-img.png"></a></li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>




<router-outlet></router-outlet>





<footer>
    <div class="container">
        <div class="email-subscription text-center">
            <div>Get news and offers sent direct to your inbox</div>
            <input type="text" name="email" id="email" placeholder="Enter your email address">
            <button>Subscribe</button>
        </div>
        <div class="footer-links">
            <div class="searched-destinations">
                <strong>Top Searched Destinations: </strong>
                <span>Bangkok | Port Sudan | Djibouti | Tehran | Beirut | Maldives | Salalah | Colombo | Kathmandu | Muscat | More Destinations... </span>
            </div>
            <div class="recommended-destinations">
                <strong>Top Recommended Destinations: </strong>
                <span>Dubai | Doha | Delhi | Istanbul | Prague | Zagreb | Sofia | Moscow | Kathmandu | Muscat | More Destinations... </span>
            </div>
            <div class="row footer-links-stacked">
                <div class="destinations-list col-md-3 col-sm-6 col-xs-12">
                    <ul>
                        <li><a href=""><strong>List of Destinations</strong></a></li>
                        <li><a href="">Africa</a></li>
                        <li><a href="">Central Asia</a></li>
                        <li><a href="">Europe</a></li>
                        <li><a href="">Indian Subcontinent</a></li>
                        <li><a href="">Middle East</a></li>
                    </ul>
                </div>
                <div class="on-the-move col-md-3 col-sm-6 col-xs-12">
                    <ul>
                        <li><a href=""><strong>On The Move</strong></a></li>
                        <li><a href="">My Trips</a></li>
                        <li><a href="">Flight Status</a></li>
                        <li><a href="">Online Check-In</a></li>
                        <li><a href="">More Services</a></li>
                    </ul>
                </div>
                <div class="useful-links col-md-3 col-sm-6 col-xs-12 custom-clearfix">
                    <ul>
                        <li><a href=""><strong>Useful Links</strong></a></li>
                        <li><a href="">Ways to Pay</a></li>
                        <li><a href="">Timetable</a></li>
                        <li><a href="">Flight Status</a></li>
                        <li><a href=""> Visas &amp; Passports</a></li>
                        <li><a href="">Contact Us</a></li>
                        <li><a href="">Travel Agent Portal</a></li>
                        <li><a href="">FAQs</a></li>
                    </ul>
                </div>
                <div class="actual-footer-links col-md-3 col-sm-6 col-xs-12">
                    <ul>
                        <li><a href="">Why book with us?</a></li>
                        <li><a href="">About Us</a></li>
                        <li><a href="">Privacy Policy</a></li>
                        <li><a href="">Terms &amp; Conditions</a></li>
                        <li><a href="">Sitemap</a></li>
                        <li><a href="">Helpful Info</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="logo-copy-right col-sm-6 col-xs-12">
                    <div class="footer-logo"><a href=""><img src="assets/img/footer-logo.png" alt="Flydubai Holidays" /></a></div>
                    <div class="copyright">{{'FOOTER_TEXT' | translate}}</div>
                </div>
                <div class="follow-us-icons col-sm-3 col-sm-offset-2 col-md-2 col-md-offset-4 col-xs-12">
                    <div class="follow-us">Follow us on</div>
                    <div class="icons">
                        <i class="fa fa-facebook fa-lg" aria-hidden="true"></i>
                        <i class="fa fa-instagram fa-lg" aria-hidden="true"></i>
                        <i class="fa fa-youtube fa-lg" aria-hidden="true"></i>
                        <i class="fa fa-linkedin fa-lg" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
</main>












